{
    "plugins": [
        "prettier-plugin-tailwindcss",
        "@prettier/plugin-php",
        "prettier-plugin-classnames"
    ],
    "singleQuote": true,
    "semi": false,
    "phpVersion": "8.2"
}
